* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #dfdfdf;
  font-family: "Cairo", sans-serif;
}
.faqs {
  direction: rtl;
  background-color: #e6e6e6;
  padding: 30px;
  width: 900px;
  margin: 100px auto;
  border-radius: 10px;
}
.faqs .faqs-heading {
  margin-bottom: 20px;
}
.faqs .faqs-heading h3 {
  text-align: center;
  font-size: 30px;
}
.faqs .faqs-heading p {
  color: #777;
  font-size: 16px;
}
.faqs-questions .faq {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: 10px 10px 10px #ddd;
}
.faqs-questions .faq-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.faqs-questions .faq-title h5 {
  color: #777;
  font-weight: bold;
  font-size: 17px;
  transition: 0.5s;
}
.faqs-questions .faq-title.active h5,
.faqs-questions .faq-title:hover h5 {
  color: #007ed9;
}
.faqs-questions .faq-title i {
  transition: 0.5s;
  opacity: 0.5;
}
.faqs-questions .faq-title.active i {
  transform: rotate(180deg);
  opacity: 1;
}
.faqs-questions .faq-answer {
  background-color: white;
  max-height: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.faqs-questions .faq-title.active + .faq-answer {
  opacity: 1;
}
.faqs-questions .faq-answer p {
  padding: 15px;
  color: #333;
}
